<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Comment</title>
</head>
<body>
    <a href="/comments">Back to comments</a>
    
    <h1>Comment Details</h1>

    <h3>Comment : <%= comment.comment %></h3>
    <h3>Username : <%= comment.username %></h3>
    <p>Comment id : <%= comment.id %></p>

    <a href="/comments/<%= comment.id %>/edit">Edit comment</a>
    <br>
    <form action="/comments/<%= comment.id %>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
</body>
</html>