<%- include('../partials/head') %>

<%- include('../partials/navbar') %>

<div class="container">
    <div class="row">
        <div class="col mt-4 mb-4">
            <h1>New Product</h1>
        </div>
    </div>
    <div class="row">
        <form action="/products" method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <span class="input-group-text">Name</span>
                <input type="text" class="form-control" name="name" placeholder="Enter name of the product" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Price</span>
                <input type="number" class="form-control" name="price" placeholder="Enter price of the product" required>
              </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Quantity</span>
                <input type="number" class="form-control" name="qty" placeholder="Enter qty of the product" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Category</span>
                <select class="form-select" name="category" aria-label="Default select example" required>
                    <option selected>Select category of the product</option>
                    <% for(let category of categories) { %>
                        <option value="<%= category %>"><%= category %></option>
                    <% } %>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Image</span>
                <input type="file" class="form-control" name="image" accept="image/*" placeholder="Select the image of product">
            </div>
            <button class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>